body {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 63.125%; /* translate 1.0em to 10px, 1.5em to 15px, etc. */
 	}
#content {
	margin:0 auto;
	width: 980px;
	text-align: left;
	}

#identity {
	padding: 25px 0;
	}

#identity h1 {
	font-size: 2.4em;
	font-weight: normal;
	color: #73736c;
	}

p {
	margin: 0 0 1em 0;
	font-size: 1.3em;
	line-height: 1.4em;
	}

a {
	color: #b31b1b;
	text-decoration: none;
	font-size: .9em;
	}

a:visited {
	color: #b37474;
	}

a:hover {
	color: #f00;
	border-color: #f00;
	}

a:active {
	color: #b31b1b;
	border-color: #e5cfcf;
	}

hr {
	display: none;
	}


form {
	margin: 0 0 15px 0;
	padding: 0;
	float: left;
	}

.form-submit {
	border: 1px solid #dbdbd2;
	margin: 8px;
	}

fieldset {
	float: left;
	margin: 0 auto;
	padding: 1em 0 1.5em 0;
	width: 35em;
	}

.form-pair {
	display: inline;
	float: left;
	margin: .5em .5em 0 .4em;
	width: 28em;
	}

.form-item {
	float: left;
	margin-top: 5px;
	width: 8em;
	font-size: 1.2em;
	font-family: verdana, arial, helvetica, sans-serif;
	line-height: 1.5em;
	text-align: right;
	}

.form-value {
	float: right;
	margin-top: 3px;
	width: 16em;
	font-size: 1.1em;
	font-family: verdana, arial, helvetica, sans-serif;
	line-height: 1.5em;
	margin-right: 0px;
	}

.input-submit, .input-reset {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.1em;
	border: 1px solid;
	background: #f0eee4;
	margin-top:0px;
}

.input-submit:hover{
	background:#dbdbd2;
}


#offsetlinks ul {
	float: left;
	margin: 0 0 0 0;
	padding: 0px 0 10px 0;
	font-size: 1.3em;
	line-height: 1.4em;
	}

#offsetlinks ul li {
	margin: 0 0 0 30em;
	padding: 0 0 0 15px;/*was 30*/
	list-style: none;
}

#footer {
	margin: 0 auto;
	padding: 5px 0 1em 0;
	width: 68em;
	font-size: .9em;
	color: #73736c;
	float: left;
	margin-top: .5em;
	}

#footer a {
	font-size: 1.0em;
	}
